.row{
    padding-bottom: 2%;
}
.page-input {
    width: 60px;
    text-align: center;
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}
.pagination .page-item {
    margin: 0 5px;
}
.pharmacy-header {
    background-color: #01D758; /* Pharmacy Green */
    color: white;
    padding: 1% 2%;
}
.pharmacy-header a {
    color: white;
}
.pharmacy-logo {
    font-size: 24px;
    font-weight: bold;
}
.nav-link {
    margin-right: 15px;
}
td {
    padding: 10%; /* Add 10 pixels of padding */
}
.table-header{
    background-color: #01D758; /* Pharmacy Green */
    color: white;
    padding: 10px 20px;
}
.btn-success{
    background-color: #01D758; /* Pharmacy Green */
    border-color: #01D758;
}
